


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    width: 500px;  
}

button{
 border-radius: 15px;
 background-color: rgb(40, 39, 39);
 color: white;
}