<div class="container">

  <div>
    <form>
      <div class="left">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Overview</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>
        <mat-form-field>
          <mat-label>TagLine</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Budget</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Revenue</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>
        <mat-form-field>
          <mat-label>ImdbURL</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>
      </div>
      <div class="middle">
        <mat-form-field>
          <mat-label>TmdbURL</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>

        <mat-form-field>
          <mat-label>PosterURL</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>
        <mat-form-field>
          <mat-label>BackdropURL</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>


        <mat-form-field>
          <mat-label>OringinalLanguage</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>

        <mat-form-field>
          <mat-label>ReleasedDate</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>
        <mat-form-field>
          <mat-label>RunTime</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>


        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>
      </div>
      <div class="right">
        <mat-form-field>
          <mat-label>Trailers</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Casts</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>

        <div>
          <ng-select [items]="cars" bindLabel="name" placeholder="Select Category" appendTo="body" [multiple]="true">
          </ng-select>
        </div>

        <mat-form-field>
          <mat-label>Crews</mat-label>
          <input matInput placeholder="Movie Title">
        </mat-form-field>


      </div>


    </form>
  </div>



</div>
