<div class="container ml-3 mt-3 p-0" style="border:none;">


  <img class="img-fluid" [id]="id" [src]="posterURL" [alt]="title">


  <div class="info">
    <a (click) = "removeFavorite()">
      <i class="far fa-times-circle icon"></i>
    </a>

    <a [routerLink]="['/movies/details', id]">
      <i class="fas fa-search icon"></i>
    </a>

    <a (click) = "addToCart()">
      <i class="fas fa-shopping-cart icon"></i>
    </a>





  </div>

  <!-- purchase modal -->
  <!-- modal problem occur when it is in a fixed/absolute position -->
  <div class="modal fade" id="PurchaseModal{{id}}" tabindex="-1" aria-labelledby="PurchaseModalLabel" aria-hidden="true"
    style="color: black;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add To Cart</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="display: flex; ">
          <img [src]="posterURL" style="height: 160px; width:120px; border-radius: 15px;" />

          <div
            style="margin-left: 100px; display: flex; flex-direction: column; justify-content: center; align-items:center;">
            <p style="font-size:20px;">{{title}}</p>
            <p style="font-size:20px;">$ {{price != null ? price : 9.9}}</p>




          </div>
        </div>
        <div class="modal-footer" style="text-decoration: none;">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.MovieId">
            <button type="button" class="btn btn-primary">Purchase</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
